<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-israelcolmeneros/blob/main/actividades_ibm_modulo_1_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Python for Data Science**

Module 1 - Python Basics

In [ ]:
print("Hello\nWorld!")

Hello
World!

Type- como se representa los tipos de data.
(int, float, str,Boolean)
Se puede saber que tipo de data es con type().
Se puede convertir de un tipo a otro, de int->float no pasa nada, pero al convertir un float-> se puede perder detalle.
Boolean puede ser True-False.
Bool=Boolean,
1=True, 0=False.

Expressions- un tipo de operacion que python hace.
Variables- asignar valores.
x=asignar un valor.
x:asginar un nuevo valor.

String-Secuencia de caracteres.
len() usar para usar el tama√±o
se pueden concatenar
escape sequences- son combinaciones que escapan de una string para realizar una accion, como \n que genera un espacio en el string.
Method- transforma una string, por ejemplo upper() hace que se haga en mayus.

In [1]:
#Notas quiz
name="Lizz"
print(name[0:2])

Li

Module 2 - Python Data Structures

Tuples - secuencias ordenadas, conjunto de (str, int, float).
Tienen funciones similares a una str.
Tuples no se pueden modificar como las variables (immutable). Si queremos cambiar algo dentro del tuple, cambiara el tuple2.
-Nesting, tuple dentro de un tuple.

In [2]:
#Crear una Tuple
A = (0,1,2,3)
print(A)

(0, 1, 2, 3)

List - Muy similar a tuple, pero estas si son mutable, se pueden cambiar como una variable.
Nesting.

In [3]:
#Crear una List
B=["a","b","c"]
print(B)

['a', 'b', 'c']

In [8]:
#Ir al ultimo elemento de un tuple
A=(0,1,2,3)
print(A[-1])
print(A[3])

3
3

Sets-son un tipo de colecciones, no recuerdan el orden de los objetos,solo tienen elementos unicos. para usarlos necesitas {}.
Si usas elementos repetidos al crearlo, el set eliminara los repetios en el output.
.remove() metodo para eliminar.
in para saber si un elemnto esta en el set.
Se puede crear un set de la union de otros dos sets con &.
Se puede crear un set total sumando dos con el metodo union().

In [11]:
S={'A','B','C'}
S.add("D")
print(S)
# Sample Sets

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])
# Find the difference in set1 but not set2

print(album_set1.difference(album_set2))
# Check if subset

set({"Back in Black", "AC/DC"}).issubset(album_set1)

{'A', 'D', 'B', 'C'}
{'Thriller'}

True

Dictionaries- otra coleccion de elementos, keys & values es la principal diferencia de una lista, {key1:value1,keyX:ValueX}.
Los podemos cosiderar como catalogos de informacion.

In [12]:
# Create the dictionary

Dict = {"key1": 1, "key2": "2", "key3": [3, 3, 3], "key4": (4, 4, 4), ('key5'): 5, (0, 1): 6}
Dict

{'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5,
 (0, 1): 6}

Module 3 - Python Programming Fundamentals