<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-israelcolmeneros/blob/main/actividades_ibm_modulo_1_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Python for Data Science**

Module 1 - Python Basics

In [ ]:
print("Hello\nWorld!")

Hello
World!

Type- como se representa los tipos de data.
(int, float, str,Boolean)
Se puede saber que tipo de data es con type().
Se puede convertir de un tipo a otro, de int->float no pasa nada, pero al convertir un float-> se puede perder detalle.
Boolean puede ser True-False.
Bool=Boolean,
1=True, 0=False.

Expressions- un tipo de operacion que python hace.
Variables- asignar valores.
x=asignar un valor.
x:asginar un nuevo valor.

String-Secuencia de caracteres.
len() usar para usar el tamaño
se pueden concatenar
escape sequences- son combinaciones que escapan de una string para realizar una accion, como \n que genera un espacio en el string.
Method- transforma una string, por ejemplo upper() hace que se haga en mayus.

In [1]:
#Notas quiz
name="Lizz"
print(name[0:2])

Li

Module 2 - Python Data Structures

Tuples - secuencias ordenadas, conjunto de (str, int, float).
Tienen funciones similares a una str.
Tuples no se pueden modificar como las variables (immutable). Si queremos cambiar algo dentro del tuple, cambiara el tuple2.
-Nesting, tuple dentro de un tuple.

In [2]:
#Crear una Tuple
A = (0,1,2,3)
print(A)

(0, 1, 2, 3)

List - Muy similar a tuple, pero estas si son mutable, se pueden cambiar como una variable.
Nesting.

In [3]:
#Crear una List
B=["a","b","c"]
print(B)

['a', 'b', 'c']

In [8]:
#Ir al ultimo elemento de un tuple
A=(0,1,2,3)
print(A[-1])
print(A[3])

3
3

Sets-son un tipo de colecciones, no recuerdan el orden de los objetos,solo tienen elementos unicos. para usarlos necesitas {}.
Si usas elementos repetidos al crearlo, el set eliminara los repetios en el output.
.remove() metodo para eliminar.
in para saber si un elemnto esta en el set.
Se puede crear un set de la union de otros dos sets con &.
Se puede crear un set total sumando dos con el metodo union().

In [11]:
S={'A','B','C'}
S.add("D")
print(S)
# Sample Sets

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])
# Find the difference in set1 but not set2

print(album_set1.difference(album_set2))
# Check if subset

set({"Back in Black", "AC/DC"}).issubset(album_set1)

{'A', 'D', 'B', 'C'}
{'Thriller'}

True

Dictionaries- otra coleccion de elementos, keys & values es la principal diferencia de una lista, {key1:value1,keyX:ValueX}.
Los podemos cosiderar como catalogos de informacion.

In [12]:
# Create the dictionary

Dict = {"key1": 1, "key2": "2", "key3": [3, 3, 3], "key4": (4, 4, 4), ('key5'): 5, (0, 1): 6}
Dict

{'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5,
 (0, 1): 6}

Module 3 - Python Programming Fundamentals

Comparison- podemos usarlos para probar con true o false, por ejemplo ==,>,<,!=,etc.
If Statement, Else statement,elif (else if).
Logical Operators, or, and,

In [15]:
x = "a"
if(x=='a'):
    print("this is a")
else:
    print("this is  not a")

this is a

In [16]:
# Elif statment example

age = 18

if age > 18:
    print("you can enter" )
elif age == 18:
    print("go see Pink Floyd")
else:
    print("go see Meat Loaf" )
    
print("move on")

go see Pink Floyd
move on

In [17]:
# Condition statement example

album_year = 1980

if(album_year > 1979) and (album_year < 1990):
    print ("Album year was in between 1980 and 1989")
    
print("")
print("Do Stuff..")

Album year was in between 1980 and 1989

Do Stuff..

Loops, for loops, while loops.
range(3)=1,2

In [19]:
print(range(10,14))

range(10, 14)

 la diferencia de for y while, es que for seguira un loop dependiendo de un rango predefinido, un while el loop continua hasta que una condicion se cumpla.

In [20]:
# Use for loop to change the elements in list

squares = ['red', 'yellow', 'green', 'purple', 'blue']

for i in range(0, 5):
    print("Before square ", i, 'is',  squares[i])
    squares[i] = 'white'
    print("After square ", i, 'is',  squares[i])

Before square  0 is red
After square  0 is white
Before square  1 is yellow
After square  1 is white
Before square  2 is green
After square  2 is white
Before square  3 is purple
After square  3 is white
Before square  4 is blue
After square  4 is white

Functions, hay pre hechas en python, funcionan tomando input, pasan por algunos pasos y termina un output diferente.
len() por ejemplo para determinar el tamaño de una coleccion.
sort,sorted.
Se puede usa def nombre(parametro), , return x, para hacer una funcion.
4.47.